.navbar {
    width: 100%;
    height: 70px;
    background-color: #4b5563;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 1.5rem;
}

.navbar-heading {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    font-size: 1.5rem;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    margin-right: 0.2rem;
}

.nav-items {
    display: flex;
    list-style-type: none;
    gap: 2rem; 
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0;
    align-items: center;
}

.nav-items a,
.nav-items div {
    text-decoration: none;
    color: white;
    padding: 6px 16px;
    border-radius: 1rem;
}

.nav-items a:hover,
.nav-items div:hover {
    background: #3b82f6;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.signin {
    background: #4b5563;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.signup {
    background: linear-gradient(to bottom, #06b6d4, #3b82f6);
    transition: transform 0.3s ease;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    padding: 6px 15px;
}

.signup:hover {
    background: white;
    color: #3b82f6;
    transform: scale(1.1);
}